<ion-header>
  <ion-navbar color="danger">
    <!--<button menuToggle>-->
    <!--  <ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <!--<ion-buttons end *ngIf="showSkip">
      <button (click)="startApp()" color="custom">Skip</button>
    </ion-buttons>-->
    <ion-title>NAPTIP</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="startApp()">
            <ion-icon name="skip-forward"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce class="">

  <ion-slides pager="true" (ionWillChange)="onSlideChangeStart($event)">
    
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image"/>
      <h2 ion-text class="slide-title" [innerHTML]="slide.title" color="secondary" ></h2>
      <p ion-text [innerHTML]="slide.description" color="secondary"></p>
    </ion-slide>
    

    <ion-slide>
      <!--<img src="img/logo.png" class="slide-image"/>-->
      <!--<h2 class="slide-title">Continue?</h2>-->
      <button large (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>

</ion-content>
